include README.rst LICENSE MANIFEST.in
include setup.py
include generateDS.py
include generateds_config.py
include generateDS.txt
include django/gends_run_gen_django.py
include django/gends_extract_simple_types.py
include django/gends_generate_django.py
include django/generatedssuper.py
include process_includes.py
include generate_coverage.py
include generateDS.html
include gends_user_methods.py
include generateds_gui_notes.txt
include generateds_gui_notes.html
include Demos/People/people.xsd
include Demos/People/people.xml
include Demos/People/run_test
include Demos/People/peoplesup.py
include Demos/People/peoplesub.py
include Demos/People/a1.session
include Demos/People/README
include Demos/People/Validators/*.py
include Demos/Outline/outline.xsd
include Demos/Outline/outline.xml
include Demos/Outline/outline.py
include Demos/Outline/outline_extended.py
include Demos/Outline/outlinetest.py
include Demos/Outline/README
include Demos/Xmlbehavior/README
include Demos/Xmlbehavior/po.py
include Demos/Xmlbehavior/po.xsd
include Demos/Xmlbehavior/po_sub.py
include Demos/Xmlbehavior/xmlbehavior.py
include Demos/Xmlbehavior/xmlbehavior.xsd
include Demos/Xmlbehavior/xmlbehavior_po.xml
include Demos/Xmlbehavior/xmlbehavior_sub.py

include librarytemplate_howto.txt
include librarytemplate_howto.html
include librarytemplate-1.0a.zip

include tests/test.py
include tests/people.xsd tests/people.xml
include tests/out1_sup.py  tests/out1_sub.py
include tests/out2_sup.py  tests/out2_sub.py
include tests/simplecontent_restriction.xsd
include tests/simplecontent_restriction1_sup.py
include tests/simplecontent_restriction1_sub.py
include tests/extensions.xsd
include tests/extensions1_sup.py tests/extensions1_sub.py
include tests/simpletype_memberspecs.xsd
include tests/simpletype_memberspecs1_sup.py
include tests/simpletype_memberspecs1_sub.py
include tests/anysimpletype.xsd
include tests/anysimpletype1_sup.py tests/anysimpletype1_sub.py
include tests/anywildcard.xsd
include tests/anywildcard1_sup.py tests/anywildcard1_sub.py
include tests/anywildcard2_sup.py tests/anywildcard2_sub.py
include tests/literal1.py
include tests/valueof.xsd tests/valueof.xml
include tests/groups.xsd tests/groups.xml
include tests/annotations.xsd
include tests/annotations1_sup.py tests/annotations1_sub.py
include tests/annotations2_sup.py tests/annotations2_sub.py
include tests/recursive_simpletype.xsd
include tests/recursive_simpletype1_sup.py tests/recursive_simpletype1_sub.py
include tests/recursive_simpletype2_sup.py tests/recursive_simpletype2_sub.py
include tests/ipo.xml
include tests/ipo.xsd
include tests/ipo1_out.xml
include tests/ipo1_sup.py tests/ipo1_sub.py
include tests/ipo2_out.xml
include tests/ipo2_sup.py tests/ipo2_sub.py
include tests/people_procincl.xsd
include tests/people_procincl1_sup.py tests/people_procincl1_sub.py
include tests/people_procincl2_sup.py tests/people_procincl2_sub.py
include tests/people_procincl_a.xsd
include tests/people_procincl_b.xsd
include tests/abstract_type.xsd
include tests/abstract_type1_sup.py tests/abstract_type1_sub.py
include tests/abstract_type2_sup.py tests/abstract_type2_sub.py
include tests/simpletypes_other.xsd
include tests/simpletypes_other1_sub.py tests/simpletypes_other1_sup.py
include tests/simpletypes_other2_sub.py tests/simpletypes_other2_sup.py
include tests/attr_groups.xsd
include tests/attr_groups1_sup.py tests/attr_groups1_sub.py
include tests/attr_groups2_sup.py tests/attr_groups2_sub.py
include tests/oneper00.xsd tests/oneper01.xsd tests/oneper02.xsd
include tests/OnePer/oneperType0?_?One.py
include tests/anonymous_type.xsd
include tests/anonymous_type1_sub.py tests/anonymous_type1_sup.py
include tests/anonymous_type2_sub.py tests/anonymous_type2_sup.py
include tests/catalog.xml tests/catalogtest.xsd
include tests/catalogtest1_sub.py tests/catalogtest1_sup.py
include tests/catalogtest2_sub.py tests/catalogtest2_sup.py
include tests/to_etree.xsd tests/to_etree.xml
include tests/to_etree1.xml tests/to_etree2.xml
include tests/to_etree1_sub.py tests/to_etree1_sup.py
include tests/to_etree2_sub.py tests/to_etree2_sup.py
include tests/defaults_cases1_out.xml  tests/defaults_cases.xsd
include tests/defaults_cases1_sub.py   tests/defaults_coverage1_sub.py
include tests/defaults_cases1_sup.py   tests/defaults_coverage1_sup.py
include tests/defaults_cases.xml       tests/defaults_coverage.xsd
include tests/address.xsd
include tests/cdata1_sub.py tests/cdata1_sup.py
include tests/cdata1.xml tests/cdata.xsd
include tests/cleanupname1_sub.py tests/cleanupname1_sup.py
include tests/cleanupname.xsd
include tests/groups.xml tests/groups.xsd
include tests/mapcleanname1_sub.py tests/mapcleanname1_sup.py
include tests/mapcleanname.xsd
include tests/nested_def1_out.xml
include tests/nested_def.xml tests/nested_def.xsd
include tests/nested_def1_sub.py tests/nested_def1_sup.py
include tests/prefix_classname1_out.xml
include tests/prefix_classname1_sub.py tests/prefix_classname1_sup.py
include tests/prefix_classname.xml tests/prefix_classname.xsd
include tests/validate_simpletypes1_out.xml
include tests/validate_simpletypes1_sub.py tests/validate_simpletypes1_sup.py
include tests/validate_simpletypes1_warnings.txt
include tests/validate_simpletypes2_sub.py tests/validate_simpletypes2_sup.py
include tests/validate_simpletypes.xml tests/validate_simpletypes.xsd
include tests/disable_xml_super.xsd
include tests/disable_xml_super1_sup.py
include tests/disable_xml_super1_sub.py
include tests/rem_dup_elems.xsd
include tests/rem_dup_elems.xml
include tests/rem_dup_elems1_out.xml
include tests/rem_dup_elems1_sup.py
include tests/rem_dup_elems1_sub.py
include tests/reference_simpletype.xsd
include tests/reference_simpletype1_sup.py
include tests/reference_simpletype1_sub.py
include tests/defaults_cases_always.xsd
include tests/defaults_cases_always1_out.xml
include tests/defaults_cases_always1_sub.py
include tests/defaults_cases_always1_sup.py
include tests/defaults_cases_always.xml
include tests/no_namespace_defs.xsd
include tests/no_namespace_defs1_sub.py
include tests/no_namespace_defs1_sup.py
include tests/mixedcontent.xsd
include tests/mixedcontent.xml
include tests/mixedcontent1_out.xml
include tests/mixedcontent1_sub.py
include tests/mixedcontent1_sup.py
include tests/check_results.rb
include enum_import00.xsd enum_import01.xsd enum_import02.xsd
include derived_types1_sub.py derived_types1_sup.py

include gui/generateds_gui.py
include gui/generateds_gui.glade
include gui/generateds_gui_session.py
include gui/generateds_gui_session.xsd
include gui/sample.session
include SWIG/*

include tutorial/generateds_tutorial.txt
include tutorial/generateds_tutoriala.txt
include tutorial/generateds_tutorial.html
include tutorial/Code/member_specs.xsd
include tutorial/Code/member_specs_api.py
include tutorial/Code/member_specs_data.xml
include tutorial/Code/member_specs_generate
include tutorial/Code/member_specs_run
include tutorial/Code/member_specs_test.py
include tutorial/Code/member_specs_upper.py
include tutorial/Code/people.xsd
include tutorial/Code/people.xml
include tutorial/Code/people_api.py
include tutorial/Code/people_appl1.py
include tutorial/Code/upcase_names.py
include tutorial/Code/upcase_names_appl.py  

include utils/batch_generate.py*
include utils/collect_schema_locations.py*
include utils/README.txt
include utils/show_schema_hierarchy.py*
